

body{
    font-family: 'Roboto', sans-serif;
background-color: #FFFFFF;
color: #434455;
}

:root{
--okean: #404bbf;

}

.page-navigator-list {
    list-style: none;
    text-decoration: none;
    text-transform: uppercase;
    font-weight:  800;
    font-size: 18px;
    line-height: 1.17;
    letter-spacing: 0.03em;
    font-family: 'Raleway', sans-serif;
}

.hero-description{
    font-size: 16px;
    font-weight: 400;
    line-height: 24px;
    letter-spacing: 0.02em;
    color: #434455;
}

.contact{
    font-style: normal;
}

.footer-description{
    color: #F4F4FD;
    font-size: 16px;
    font-weight: 400;
    line-height: 24px;
    letter-spacing: 0.02em;
 
}

.footer-section{
    background: #2E2F42;
}

.logo {
    font-family: 'Raleway', sans-serif;
    font-size: 18px;
    font-weight: 800;
    line-height: 21px;
    letter-spacing: 0.03em;
    text-decoration: none; 
    color: #4D5AE5;
    line-height: 1.17;
    text-transform: uppercase;
}
    

.logotup {
    color:  #2E2F42;
    font-family: 'Raleway', sans-serif;
    font-size: 18px;
    font-weight: 800;
    line-height: 21px;
    letter-spacing: 0.03em;
    text-decoration: none; 
    line-height: 1.17;
    text-transform: uppercase;
}

.logotup-footer{
    font-family: 'Raleway', sans-serif;
    font-size: 18px;
    font-weight: 800;
    line-height: 21px;
    letter-spacing: 0.03em;
    text-decoration: none; 
    line-height: 1.17;
    text-transform: uppercase;
    color: #f4f4fd ;
   }


.menu-item-site{
    font-size: 16px;
    font-weight: 500;
    line-height: 1.5;
    letter-spacing: 0.02em;
    color: var(-- #2E2F42);
    line-height: 1.5 ;
    color: #434455;
}


.link{
    text-decoration: none;
}

.list-contact{
font-style: normal;
}

.contact {
font-size: 16px;
font-weight: 400;
line-height: 1.5;
letter-spacing: 0.02em;
color: var(--#434455);
}

.main-section{
    background: #2E2F42;
}

.main-title-name{
font-size: 56px;
font-weight: 700;
line-height: 60px;
letter-spacing: 0.02em;
text-align: center;
line-height: 1.07;
color: #FFFFFF;
;
}

.button-service:hover, .button-service:focus{
    background-color: #404BBF;
}
.button-service {
    font-family: 'Roboto', sans-serif;
    font-size: 16px;
    font-weight: 500;
    line-height: 24px;
    letter-spacing: 0.04em;
    text-align: left;
    color:  #FFFFFF;
    background-color:#4D5AE5 ;
    cursor: pointer;
    list-style: none;
    line-height: 1.5;
    letter-spacing:0,04em;
}

.last-section{
    background: #F4F4FD;
}

.second-title,
.third-title{
font-size: 20px;
font-weight: 500;
line-height: 24px;
letter-spacing: 0.02em;

color:  #2E2F42;
}

.button-section{
    cursor: pointer
}

.item-list{
font-size: 16px;
font-weight: 500;
line-height: 24px;
letter-spacing: 0.04em;
line-height: 1.5;
cursor: pointer;
text-align: center;
font-family: 'Roboto', sans-serif;
color: #4D5AE5;
background-color: linear-gradient(0deg, #F4F4FD, #F4F4FD),
linear-gradient(0deg, #E7E9FC, #E7E9FC);
}
   
.item-list-but {
font-size: 16px;
font-weight: 500;
line-height: 24px;
letter-spacing: 0.04em;
line-height: 1.5;
cursor: pointer;
text-align: center;
font-family: 'Roboto', sans-serif;
background-color: #404BBF;
color:#FFFFFF ;

color: var(--#4d5ae5 );
background-color: var(--#F4F4FD);
}

.contact:hover, 
,contact:focus {
 color:  #404bbf;
}

.menu-item-site:hover, 
.menu-item-site:focus{
    color:#404BBF;
}

.item-list-button:hover{
    color: #FFFFFF;
    background-color: #404BBF;
}
.item-list-button:focus{
    color: #FFFFFF;
    background-color: #404BBF;
}

.item-list-button:focus {
    color: #404BBF ;
}


.list-list link{
    text-decoration: none;
}

.list{
    list-style: none;
}

.link{
    text-decoration: none;
}
.hero-title{
    font-size: 36px;
    font-weight: 700;
    line-height: 40px;
    letter-spacing: 0.02em;
    text-align: center;
    text-transform: capitalize;
    color: #2E2F42;
    line-height: 1.11;
}

.team-name{
    background-color: #FFFFFF;
}

.list header{
    list-style: none;
}